#web_head {
  text-align: center;
  background-color: lightblue;
  color: white;
  margin: 0;
  padding: 60px;
}

body {
  background-color: rgb(239, 244, 255);
  margin: 0;
}

#first_ul li {
  display: inline;
  padding: 0px 10px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: red;
}

#first_ul {
  text-align: center;
  background-color: white;
  box-shadow: 0px 2px 2px rgb(182, 182, 182);
  margin: 0;
  padding: 20px 0px;
}

img {
  border-radius: 25%;
  margin: 20px;
  box-shadow: 0px 2px 2px grey;
}

#profilku, #programstudiku, #kontakku {
  padding-top: 10px;
  font-family: cursive;
  text-align: center;
}

#profilku ul, #programstudiku ul, #kontakku ul {
  padding-top: 20px;
  font-size: 18px;
  font-family: cursive;
  padding: 0px;
}

li {
  list-style-type: none;
}