#web_head {
  background-image: url("https://cdn.wallpapersafari.com/57/92/RxZMrW.jpg");
  text-align: center;
  background-color: lightblue;
  color: white;
  margin: 0;
  padding: 60px;
}

body {
  background-image: url("https://previews.123rf.com/images/elenaelena78/elenaelena781803/elenaelena78180300482/96927108-abstract-blurred-background-elegant-wallpaper-design-for-web-or-graphic-art-projects-background-for-.jpg");
  background-size: cover;
  background-color: rgb(239, 244, 255);
  margin: 0;
}

#first_ul li {
  display: inline;
  padding: 0px 10px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: red;
}

#first_ul {
  text-align: center;
  background-color: white;
  box-shadow: 0px 2px 2px rgb(77, 77, 77);
  margin: 0;
  padding: 20px 0px;
}

img {
  border-radius: 25%;
  margin: 20px;
  box-shadow: 0px 2px 2px grey;
}

#profilku, #programstudiku, #kontakku {
  padding-top: 10px;
  font-family: cursive;
  text-align: center;
}

#profilku ul, #programstudiku ul, #kontakku ul {
  padding-top: 20px;
  font-size: 18px;
  font-family: cursive;
  padding: 0px;
}

li {
  list-style-type: none;
}